<html>
    <head>
        <link rel="stylesheet" href="/assets/css/home.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css"/>
    </head>
        <header class="main-header">
            <div class="container">
                <img class="me" src="../assets/images/me.JPG">
                <h1 class="name">Caio Incau</h1>
                <h2>Front & Back-end Developer</h2>
            </div>
        </header>
    <body>
        <div class="profile container">
            <p>Este é meu site pessoal, onde você poderá encontrar um pouco sobre mim, trabalho com desenvolvimento web, viciado em café e tento ser fotógrafo amador.Comecei minha carreira ainda dentro da Caelum, participando da criação da Casa do Código. Adoro discutir e conversar sobre tudo e principalmente sobre o mundo a nossa volta, então se quiser falar, não hesite em me contatar.</p>
        </div>
        <div class="timeline container">
                <h3 class="timeline-title">Experiência</h3>
            <div class="timeline-event">
                <p class="timeline-event-title">Casa do Código</p>
                <p class="timeline-event-desc">Desenvolvimento de micro serviços para a editora <a href="www.casadocodigo.com.br">Casa do Código</a>, atuando como Full Stack Developer, o sistema tem como base Java 7 com o framework MVC VRaptor, e alguns serviços em Rails.
</p>
            </div>
                <div class="timeline-event">
                <p class="timeline-event-title">Alura</p>
                <p class="timeline-event-desc">Desenvolvimento de plataforma de ensino online WEB <a href="www.alura.com.br">Alura</a>, atuando como Full Stack Developer, o sistema tem como base Java 8 e o framework MVC VRaptor, também utilizei Hibernate como framework ORM e automatização de tarefas com Ant e Ivy.

O sistema conta com cobertura de testes com JUnit e Selenium e nossas views utilizam HTML5, CSS3, JS e JQuery.
</p>
            </div>
            <div class="timeline-event">
                <p class="timeline-event-title">Escritor</p>
                <p class="timeline-event-desc">Você já passou por problemas reais ao fazer o deploy de uma aplicação com Express? Como, por exemplo, servir conteúdo estático de forma otimizada, tratar os erros, usar cache, ou até mesmo a necessidade de criar um Cluster?
Pois bem, é isto que este livro aborda: como resolver ou se prevenir de problemas na sua aplicação utilizando Express.
A ideia é tratar de diversos conceitos básicos e avançados que resolvam alguns dos principais impasses do dia a dia de um desenvolvedor.
</p>
            </div>
        </div>
        
           <div class="timeline container">
                <h3 class="timeline-title">Cursos</h3>
            <div class="timeline-event">
                <p class="timeline-event-title"><a href="https://www.caelum.com.br/curso-javascript-jquery/">Desenvolvimento Web com HTML, CSS e JavaScript</a></p>
               </div>
               <div class="timeline-event">
                <p class="timeline-event-title"><a href="https://www.caelum.com.br/curso-javascript-jquery/">Web Apps Responsivas com JavaScript e jQuery</a></p>
               </div>
               <div class="timeline-event">
                <p class="timeline-event-title"><a href="https://www.caelum.com.br/curso-java-web/">Java para Desenvolvimento Web</a></p>
            </div>
                <div class="timeline-event">
                 <p class="timeline-event-title"><a href="https://www.caelum.com.br/curso-java-testes-jsf-web-services-design-patterns/"> Laboratório Java com Testes, JSF e Design Patterns</a></p>
            </div>
                <div class="timeline-event">
                 <p class="timeline-event-title"><a href="https://www.caelum.com.br/curso-persistencia-java-jpa-hibernate/"> Persistência com JPA, Hibernate e EJB lite</a></p>
            </div>
        </div>
        
        <footer class="container">
            <img src="../assets/images/caio-name.png">
        </footer>
    </body>
</html>